{% extends 'base.html' %}

{% block title %}
ACCOUNT DETAILS
{% endblock title %}

{% block body %}



  <div class="container mt-4">
    <div class="row">
        
    
    

    


        
<table class="table table-dark table-hover">
    <tr>
    
    <th scope="col">ACCOUNT ID</th>
    <th scope="col">ACCOUNT NUMBER</th>
    <th scope="col">TYPE OF ACCOUNT</th>
    <th scope="col">NAME OF HOLDER</th>
    <th scope="col">EMAIL</th>
    <th scope="col">GENDER</th>
    <th scope="col">DATE OF BIRTH</th>
    <th scope="col">ADDRESS</th>
    <th scope="col">PHONE NUMBER</th>
    <th scope="col">BALANCE</th>
    </tr>
    <tbody>
    <tr>
        {% for post in query %}
        <th scope="row">{{post.id}}</th>
        <td>{{post.anumber}}</td>
        <td>{{post.atype}}</td>
        <td>{{post.aname}}</td>
        <td>{{post.cemail}}</td>
        <td>{{post.agender}}</td>
        <td>{{post.adob}}</td>
        <td>{{post.aaddress}}</td>
        <td>{{post.aphone}}</td>
        <td>{{post.abalance}}</td>
        


        
    </tr>


       
    {% endfor %}

    
</table>


{% endblock body %}