{% extends 'base.html' %}

{% block title %}
HOME
{% endblock title %}

{% block body %}

{% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}

            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            {{message}}

          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
           </div>


  {% endfor %}
  {% endif %}
  {% endwith %}


  <style="background-color:powderblue;">

  <style>
    body {
      background-image: url('static/b6.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    </style>

  {% endblock body %}